.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px 10px 30px 10px;
  background-color: rgb(245, 245, 245);
}

.about h2 {
  font-weight: 700;
  font-size: 50px;
  padding-bottom: 30px;
}

.about p {
  padding: 0 5% 0 5%;
}

.about-href {
  color: black;
  margin: 4px;
  background-color: rgb(206, 206, 206);
  padding: 4px;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .about p {
    padding: 0 20% 0 20%;
  }
}
